# Node.js
node_modules/

# Stream Deck files
*.sdPlugin/bin/*
!*.sdPlugin/bin/package.json
!*.sdPlugin/bin/package-lock.json
*.sdPlugin/logs

*.sdPlugin/CHANGELOG.md
*.sdPlugin/LICENSE
*.sdPlugin/3rdparty-licenses.txt

dist/
previews.psd
